body {
  background-image: url("https://media.cdnws.com/_i/19708/3438/2142/42/set-de-table-anniversaire-star-wars.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: white
}

.planete {
  text-align: center;
  background-color: #feca57;
  color: black;
}